body {
	margin: 0;
	height: 100%;
	min-height: 300px;
	overflow: hidden;
	background-color: silver;
}

body, body *, div.playlist object {
	cursor: url('images/sword-cursor.png'), crosshair;
	font-family: 'Electrolize', sans-serif;
}

div.header {
	height: 10%;
	width: 100%;
	border-bottom: 2px solid #F1A157;
	text-align: center;
	color: #F1A157;
	min-height: 65px;
	position: relative;
	background-color: #333;
}

div.header p.stamp {
	position: absolute;
	bottom: -9;
	left: 10;
}

div.grid {
	height: 90%;
	width: 100%;
	min-width: 200px;
	overflow: scroll;
}

/* 
Since the table itself is in absolute positioning with both top and bottom values set to 0
the table wrapper ensures that it doesn't bleed out under the header 
 */
div.table-wrapper {
	position: relative;
	height: 100%;
}

div.grid table {
	width: 50%;
	margin: auto;
	position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    display: hidden;
}

div.grid td {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.grid .border {
	border: 1px solid #ccc;
}


div.quick-palette {
	margin: auto;
}

div.quick-palette div {
	height: 20px;
	width: 20px;
	float: left;
	margin: auto;
}

button {
	border: 5px solid;
	border-top-color: #F77C2A;
	border-left-color: #F77C2A;
	border-bottom-color: #000;
	border-right-color: #000;
	background-color: #aaa;
	min-height: 54px;
	min-width: 54px;
	background-size: 40px;
	background-position: 4;
	background-repeat: no-repeat;
}

button:active, button.current {
	border-bottom-color: #F77C2A;
	border-right-color: #F77C2A;
	border-top-color: #000;
	border-left-color: #000;
	background-color: #888;
}

button.zoom.out {
	background-image: url('images/zoom-out.png');
}

button.zoom.in {
	background-image: url('images/zoom-in.png');
}

button.zoom.clear {
	background-image: url('images/zoom-clear.png');
}

button.wipe {
	background-image: url('images/wipe-button.png');
}

button.grid-toggle {
	background-image: url('images/grid-button.png');
}

button.background-fill {
	background-image: url('images/paint-bucket.png');
}

button.help {
	background-image: url('images/help.png');
	background-size: 100%;
	background-position: 0;
}

td.clear {
	background: url('images/empty-tile.png') 0 0;
	background-size: 100%;
}

div.hidden {
	display: none;
}

div.colorbox-content {
	padding: 20px;
	text-align: center;
}

div.resize {
	position: absolute;
	z-index: 1000;
}

div.playlist {
	position: absolute;
	bottom: 0;
	z-index: 1000;
}

div.playlist div.collapse {
	position: absolute;
	bottom: 140;
	width: 191px;
	height: 20px;
	border: 5px solid orange;
	color: white;
	border: 5px solid orange;
	background-color: grey;
}

div.playlist object {
	position: absolute;
	bottom: 0;
}

div.playlist object.down {
	bottom: -145;
}

div.playlist div.collapse.down {
	bottom: 0;
}