body {
	font-family: 'Electrolize', sans-serif;
	margin: 0;
}

div.header {
	width: 100%;
	border-bottom: 2px solid #3366FF;
	text-align: center;
	color: #3366FF;
	padding: 20px 0;
}

div.grid {
	width: 60%;
	min-width: 200px;
	padding: 5%;
}

div.grid, div.sidebar {
	float: left;
}

div.grid table {
	width: 90%;
}

div.grid td {
	width: 10%;
}

div.grid td, div.grid table {
	border: 1px solid #ccc;
}

div.sidebar {
	width: 30%;
	min-width: 100px;
	padding-top: 5%;
}

div.sidebar h2 {
	margin: 0;
}