body {
	font-family: 'Electrolize', sans-serif;
	margin: 0;
	height: 100%;
	min-height: 300px;
	overflow: hidden;
}

div.header {
	width: 100%;
	border-bottom: 2px solid #3366FF;
	text-align: center;
	color: #3366FF;
	min-height: 65px;
}

div.grid {
	height: 80%;
	width: 100%;
	min-width: 200px;
	cursor: url('images/sword-cursor.png'), crosshair;
	overflow: scroll;
}

div.grid.eraser {
	cursor: url('images/shovel-cursor.png'), crosshair;
}

div.grid.picker {
	cursor: url('images/pickaxe-cursor.png'), crosshair;
}

div.grid table {
	width: 50%;
	margin: auto;
	background-color: grey;
}

div.grid td {
	width: 2.2%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.grid .border {
	border: 1px solid #ccc;
}


div.quick-palette {
	margin: auto;
}

div.quick-palette div {
	height: 20px;
	width: 20px;
	float: left;
	margin: auto;
}

button {
	border: 5px solid grey;
	background-color: #aaa;
	min-height: 54px;
	min-width: 54px;
}

button:hover {
	background-color: #fff;
}

button.zoom.out {
	background-image: url('images/zoom-out.png');
}

button.zoom.in {
	background-image: url('images/zoom-in.png');
}

button.zoom.clear {
	background-image: url('images/zoom-clear.png');
}

button.wipe {
	background-image: url('images/wipe-button.png');
}

button.grid-toggle {
	background-image: url('images/grid-button.png');
}

button.background-fill {
	background-image: url('images/paint-bucket.png');
}

td.clear {
	background: url('images/empty-tile.png') 0 0;
	background-size: 100%;
}

